name: CI

on:
    pull_request:
    push:
        branches: [ main ]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}

jobs:
    tests:
        runs-on: ${{ matrix.operating-system }}
        strategy:
            fail-fast: false
            matrix:
                operating-system: [ ubuntu-latest ]
                php: [ '8.3', '8.4' ]
                twig: [ 3 ]
        name: Tests with PHP ${{ matrix.php }}, Twig ${{ matrix.twig }} on ${{ matrix.operating-system }}
        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '${{ matrix.php }}'
                    coverage: none
                    tools: castor

            -   name: Install Composer packages
                uses: ramsey/composer-install@v3

            -   name: Setup Twig 4
                if: ${{ matrix.twig == '4' }}
                run: composer require "twig/twig:4.x-dev as 3.9999"

            -   name: Run tests
                run: vendor/bin/phpunit

    code-style:
        runs-on: ${{ matrix.operating-system }}
        strategy:
            fail-fast: false
            matrix:
                operating-system: [ ubuntu-latest ]
                php: [ '8.3', '8.4' ]
        name: PHP CS Fixer with ${{ matrix.php }} on ${{ matrix.operating-system }}
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0

            -   name: Set up PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '${{ matrix.php }}'
                    coverage: none
                    tools: castor

            -   name: Install Composer packages
                uses: ramsey/composer-install@v3

            -   name: Run PHP CS Fixer
                run: castor php-cs-fixer --no-fix

            -   name: Run Twig CS Fixer
                run: castor twig-cs-fixer --no-fix

            -   name: Check editorconfig
                run: castor editorconfig

            -   name: Check commits
                run: castor verify-commits

    phpstan:
        runs-on: ${{ matrix.operating-system }}
        strategy:
            fail-fast: false
            matrix:
                operating-system: [ ubuntu-latest ]
                php: [ '8.3', '8.4' ]
        name: PHPStan with ${{ matrix.php }} on ${{ matrix.operating-system }}
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '${{ matrix.php }}'
                    coverage: none
                    tools: castor

            -   name: Install Composer packages
                uses: ramsey/composer-install@v3

            -   name: Install Composer packages
                uses: ramsey/composer-install@v3

            -   name: Run PHPStan
                run: castor phpstan --no-local

    composer:
        runs-on: ${{ matrix.operating-system }}
        strategy:
            fail-fast: false
            matrix:
                operating-system: [ ubuntu-latest ]
                php: [ '8.3', '8.4' ]
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4

            -   name: Set up PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: '${{ matrix.php }}'
                    coverage: none
                    tools: castor

            -   name: Install Composer packages
                uses: ramsey/composer-install@v3

            -   name: Normalize Composer file
                run: castor composer-normalize

            -   name: Analyze Composer dependencies
                run: castor dependency-analyzer
